// BCI color palette with variables
// names from gpick for Ubuntu, except where they were crazy

$crimson: #EE156F;
.crimson { color: $crimson; }
.bg-crimson { background-color: $crimson; }

$orange_red: #EF2921;
.orange_red { color: $orange_red; }
.bg-orange_red { background-color: $orange_red; }

$christi: #6EC72D;
.christi { color: $christi; }
.bg-christi { background-color: $christi; }

$bitter_lemon: #CFD407;
.bitter_lemon { color: $bitter_lemon; }
.bg-bitter_lemon { background-color: $bitter_lemon; }

$golden: #FDD23B;
.golden { color: $golden; }
.bg-golden { background-color: $golden; }

$teal: #6BCDC3;
.teal { color: $teal; }
.bg-teal { background-color: $teal; }

$cobalt: #243E65;
.cobalt { color: $cobalt; }
.bg-cobalt { background-color: $cobalt; }

$bermuda: #61849C;
.bermuda { color: $bermuda; }
.bg-bermuda { background-color: $bermuda; }

$nero: #27282A;
.nero { color: $nero; }
.bg-nero { background-color: $nero; }

$aluminum: #8A8D8D;
.aluminum { color: $aluminum; }
.bg-aluminum { background-color: $aluminum; }

$concrete: #C2C3C1;
.concrete { color: $concrete; }
.bg-concrete { background-color: $concrete; }

$white_smoke: #E9E9E9;
.white_smoke { color: $white_smoke; }
.bg-white_smoke { background-color: $white_smoke; }

$white: #FFFFFF;
.white { color: $white; }
.bg-white { background-color: $white; }
