// BCI color palette with variables
// names from gpick for Ubuntu, except where they were crazy

$crimson      : #EE156F;
$orange_red   : #EF2921;
$christi      : #6EC72D;
$bitter_lemon : #CFD407;
$golden       : #FDD23B;
$teal         : #6BCDC3;
$cobalt       : #243E65;
$bermuda      : #61849C;
$nero         : #27282A;
$aluminum     : #8A8D8D;
$concrete     : #C2C3C1;
$white_smoke  : #E9E9E9;
$white        : #FFFFFF;

$colors:
  'crimson'      $crimson,
  'orange_red'   $orange_red,
  'christi'      $christi,
  'bitter_lemon' $bitter_lemon,
  'golden'       $golden,
  'teal'         $teal,
  'cobalt'       $cobalt,
  'bermuda'      $bermuda,
  'nero'         $nero,
  'aluminum'     $aluminum,
  'concrete'     $concrete,
  'white_smoke'  $white_smoke,
  'white'        $white
;

@each $animal, $color, $cursor in (puma, black, default),
(sea-slug, blue, pointer),
(egret, white, move) {
  .#{$animal}-icon {
    background-image: url('/images/#{$animal}.png');
    border: 2px solid $color;
    cursor: $cursor;
  }
}

@each $name, $color in $colors {
  .#{$name} { color: $color; }
  .bg-#{$name} { background-color: $color; }
}
