// BCI color palette with variables
// names from gpick for Ubuntu, except where they were crazy

$magenta      : #EE156F;
$orange_red   : #EF2921;
$grass        : #6EC72D;
$bitter_lemon : #CFD407;
$golden       : #FDD23B;
$teal         : #6BCDC3;
$cobalt       : #243E65;
$bermuda      : #61849C;
$zodiac       : #5B6274;
$panda        : #57543E;
$nero         : #27282A;
$aluminum     : #8A8D8D;
$concrete     : #C2C3C1;
$white_smoke  : #E9E9E9;
$black        : #000000;
$white        : #FFFFFF;

$colors:
  'magenta'      $magenta,
  'orange_red'   $orange_red,
  'grass'        $grass,
  'bitter_lemon' $bitter_lemon,
  'golden'       $golden,
  'teal'         $teal,
  'cobalt'       $cobalt,
  'bermuda'      $bermuda,
  'zodiac'       $zodiac,
  'panda'        $panda,
  'nero'         $nero,
  'aluminum'     $aluminum,
  'concrete'     $concrete,
  'white_smoke'  $white_smoke,
  'black'        $black,
  'white'        $white
;

@each $color in $colors {
  $name: nth($color, 1);
  $value: nth($color, 2);
  .#{$name} { color: $value; }
  .bg-#{$name} { background-color: $value; }
}

$colorSchemeParts:                 'primary'     'title'       'accent'      'outer';
$colorSchemes:
  ('bci'                          , $cobalt     , $zodiac     , $bermuda    , $white_smoke),
  ('l-a-bike-trains'              , $grass      , $grass      , $panda      , $bermuda    ),
  ('r5y7'                         , $orange_red , $orange_red , $orange_red , $nero       ),
  ('los-angeles-bicycle-festival' , $magenta    , $magenta    , $teal       , $magenta    )
;

@mixin colorscheme-pair($name, $part, $suffix, $property, $value) {
  .colorscheme-#{$name} .#{$part}-#{$suffix}, .colorscheme-#{$name}.#{$part}-#{$suffix} { #{$property}: $value; }
}
@each $set in $colorSchemes {
  $name: nth($set, 1);

  @for $i from 2 through 5 {
    $part: nth($colorSchemeParts, $i - 1);
    $color: nth($set, $i);

    @include colorscheme-pair($name , $part , 'color'  , 'color'            , $color);
    @include colorscheme-pair($name , $part , 'bg'     , 'background-color' , $color);
    @include colorscheme-pair($name , $part , 'border' , 'border-color'     , $color);

    @include colorscheme-pair($name , $part , 'color-darker'  , 'color'            , darken($color, 10%));
    @include colorscheme-pair($name , $part , 'bg-darker'     , 'background-color' , darken($color, 10%));
    @include colorscheme-pair($name , $part , 'border-darker' , 'border-color'     , darken($color, 10%));

    @include colorscheme-pair($name , $part , 'color-lighter'  , 'color'            , lighten($color, 30%));
    @include colorscheme-pair($name , $part , 'bg-lighter'     , 'background-color' , lighten($color, 30%));
    @include colorscheme-pair($name , $part , 'border-lighter' , 'border-color'     , lighten($color, 30%));
  }
}
