body {
  @include sans;
  font-size: 16px;
  background-color: $concrete;
  // @extend .background-bg;
}
h1, h2, h3, h4, h5, h6 {
  @extend .primary-color;
}
nav {
  @extend .gray-bg;
}
nav.main {
  @extend .accent-bg;
}
body > header, section.single {
  background-color: $white;
}
nav.contact, body > header.nav {
  @include float-block;
  ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
nav.contact .menu {

  > .menu-item {
    float: left;
    margin-left: 1em;

    &:first-child {
      margin-left: 0;
    }

  }

}
nav.main .menu {
  display: table;
  width: 100%;

  > .menu-item {
    display: table-cell;
    width: 1%;
    color: $white;

    a {
      color: inherit;
    }
  }
}
body > header {
  border-bottom: 0.5em;
  @extend .accent-border;
  padding: 0;

  h1 {
    @include logo;
    a {
      background-size: contain;
      background-repeat: no-repeat;
      display: block;
      height: 120px;
      overflow: hidden;

      &:before {
        display: block;
        height: 100%;
        content: ' ';
      }
    }
  }
  .logos {
    position: relative;

    ul, li {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .header-widgets {
      position: absolute;
      right: 0;
      top: 0;
    }
    .widget {
      display: inline-block;
    }

    .menu-projects-container li {
      display: inline-block;
      margin-left: 1em;
      &:first-child {
        margin-left: 0;
      }
    }

  }
}
section.single {

  @extend .container;

  h1.page-title {
    @include headline;
  }
  article.the-missing {
    text-align: center;
  }

}
